body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  font-family: 'Lalezar', cursive;
    display: grid;
place-content: center;
background-color: rgb(34, 34, 34);
}
/* .joke {
text-align: center;
margin: 0 5vh;

margin-bottom: 1em;
padding: 2em 4em;
background-color: rgb(0, 253, 181);
color: white;
border-bottom: 2px solid rgb(20, 184, 80);
border-radius: 10px;
}
.joke span {
  color: rgb(20, 184, 80);
  font-weight: bolder;
  opacity: .6;
}
.joke p {
  font-weight: 500;
} */
.container {
  height: 100vh;
  position: relative;
  display: grid;
  place-content: center;
  width: 100vw;
  background: url(../public/imgs/OurLoveCollage.png), linear-gradient(0deg, rgb(30, 28, 44) 0%, rgb(49, 19, 44) 100%);
  background-blend-mode:overlay;
  background-position: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.container h1 {
  font-family: 'Lalezar', cursive;
    color: white;
}
.container p {
  font-family: 'Lalezar', cursive;
    color: white;
  font-size: .85em;
}
.container .hbd {
  max-width: 70vw;
}
.container button {
  cursor: pointer;
  font-family: Delicious Handrawn;
  font-weight: bold;
  background-color: rgba(255,5,208,1);
  font-size: 1.2em;
  border: none;
  border-radius: .5em;
  padding: .5em 1em;
  color: white;
  font-family: inherit;
}
.button{
	width: 50px;
	height: 50px;
  top:10%;
  position: fixed;
	left: 50%;
	margin-top: -45px;
	margin-left: -50px;
	border-radius: 5px;
	background: none;
	cursor: pointer;
	transition: background 0.5s ease;
}
.button:hover{

}
.active#heart:before,.active#heart:after{
	background: red !important;
}
#heart {
    width: 100px;
    height: 90px;
    transition: background 0.5s ease;
}
#heart:before,
#heart:after {
	transition: background 0.5s ease;
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}